*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media(max-width: 1080px){
    html{
        font-size: 93.75%;
    }
}

@media(max-width: 720px){
    html{
        font-size: 87.5%;
    }
}

header{
    padding-top: 0.5rem;
}

body{
    text-align: center;
    font-family: Arial,sans-serif;
    font-size: 17px;
    background: #76323f;
    color:  #040406;
}
h1{
    font-family: Rajdhani;
    font-family: 30px;
    background: #d7cec7;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    padding: 0.3rem;
    width: 18rem;
    margin: auto;
    margin-bottom: 1.2rem;
    border-radius: 5px;
}
section{
    background: #f2f3f5;
    padding: 1rem;
    width: 71.5rem;
    height: 75vh;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    border-radius: 8px;
}
div#res{
    margin: auto;
    width: 50rem;
    font-size: 15pt;
    text-align: justify;
    background-color: #ffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}
.container{
    padding-bottom: 0.5rem;
}
input{
    border-radius: 5px;
    border-color: transparent;
}
footer{
    font-family: Rajdhani;
    font-size: 15pt;
    background: #d7cec7;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    padding: 0.3rem;
    width: 12rem;
    margin: auto;
    border-radius: 5px;
    margin-top: -0.5rem;
}
